
{% extends 'base/base.html' %}

{% block content %}

<h2>参加中の大会一覧</h2>

{% if game_list %}
    {% for game in game_list %}
        <div class = "game_list">
            <a href="{% url 'games:detail' game.id %}">
                <div class="list_hedder">
                    <p>{{ game.name }}</p>
                </div>
                <div class="list_img">
                    <img src="http://placehold.jp/300x200.png">
                </div>

                <div class="list_body">
                    <p>開催日時：{{ game.game_start_time|date:"Y-n-j H:i" }}</p>
                    <p>ゲーム　：{{ game.game_name }}</p>
                </div>
            </a>
        </div>

    {% endfor %}

{% else %}
    <p>参加中の大会はありません。</p>
{% endif %}

{% endblock %}