<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'games/style.css' %}">

    <style>
        body{
            margin: 0 auto;
        }
    </style>
</head>
<body>


<header>
    <div class="logo">
        <a href="{% url 'games:index' %}">
            <img src="{% static 'games/logo.png' %}">
        </a>
    </div>

    <nav>
        <ul>
            <li><a href="{% url 'games:index' %}">マイページ</li>
        </ul>
    </nav>
</header>

{% if game_list %}
    {% for game in game_list %}
        <div class = "ansi-black-bg">
            <ul>
                <li><a href="{% url 'games:detail' game.id %}">{{ game.name }}</a></li>
            </ul>
        </div>

    {% endfor %}

{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="{% url 'games:create' %}">大会を作成する</a>

</body>
</html>